.body{
	background-image:url(https://steamusercontent-a.akamaihd.net/ugc/2439138762291061216/B887E00F90894235712087C692CE93D2BAB277A2/);
	
}
.earth{
	width:300px;
	padding:100px;
	z-index: 1;
}
.moon{
	position:absolute;
	top:170px;
	left:170px;
	z-index:-1;
	-webkit-animation:linear 5s orbita infinite;
	animation:linear 5s orbita infinite;
}
@keyframes orbita{
	0%{width:72px;}
	24%{z-index:-1;}
	25%{left:380px; top:130px;z-index:2;}
	50%{width:128px;}
	74%{z-index:2;}
	75%{top:300px; left:40px;z-index:-1;}
	100%{width:72px;}
}
@-webkit-keyframes orbita{
	0%{width:72px;}
	24%{z-index:-1;}
	25%{left:380px; top:130px;z-index:2;}
	50%{width:128px;}
	74%{z-index:2;}
	75%{top:300px; left:40px;z-index:-1;}
	100%{width:72px;}
}