.steam{
	background-color:rgba(0,0,0,0.7);
	color:white;
	max-width:1360px;
	min-width:16px;
	min-height:16px;
	border: 3px solid #B4B4B4;
	margin:10px;
	padding:10px;
	
}
.oll{
	min-width:16px;
}
body{
	background-image:url(https://steamusercontent-a.akamaihd.net/ugc/2439138762291061216/B887E00F90894235712087C692CE93D2BAB277A2/);
	background-size:100%;
	background-repeat:repeat;
	background-attachment:fixed;
	color:white;
	font-size:cover;
}
a{
	color:blue;
}
input{
	background-color:rgba(180,180,180,0.7);
	border:1px solid #000000;
	border-radius:30px;
	opacity:0.7;
	padding:10px;
	padding-left:17px;
	margin:10px;
}
img{
	border: 1px solid #ffffff;
}
img:hover{
	transform:scale(2.0);
}
table{
	background-color:rgba(0,0,0,0.3);
	border: 3px solid #ffffff;
	margin:10px;
	padding:4px;
	width:100px;
	height:100px;
}
.krug{
	height:100px;
	width:100px;
	background-color:rgba(94,94,94,0.7);
	padding:10px;
	border:1px #000000 solid;
	border-radius:70px;
}
.strelka1{
	width:10px;
	height:70px;
	background-color:#000000;
	position:relative;
	left:45px;
	top:15px;
	animation:linear 5s rotate infinite;
	-webkit-animation:linear 5s rotate infinite;
}
.strelka2{
	width:10px;
	height:70px;
	background-color:#000000;
	position:relative;
	left:47px;
	top:-55px;
	transform:rotate(90deg);
	animation:linear 2.5s rotate infinite;
	-webkit-animation:linear 2.5s rotate infinite;
}
@keyframes rotate{
	0%{}
	100%{transform:rotate(360deg);}
}
@-webkit-keyframes rotate{
	0%{}
	100%{transform:rotate(360deg);}
}
.s1{
	background-color:rgba(94,94,94,0.7);
	height:35px;
	width:10px;
	position:relative;
	top:50%;
}